{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}
{% block title %}Edit account{% endblock %}

{% block head %}
     {{ super() }}
    <style media="screen">
        ul {
            list-style-type:none;
            text-align: left;
            padding-inline-start: 0px
        }
        ul li {
            color: red;
        }
        #register{
            /* margin: auto; */
            width: 50%;
        }

        .error {
          background-color: red;
          color: black
        }
        .success {
          background-color: green;
          color: black
        }
        @media only screen and (max-width: 600px) {
          #register {
            width: 100%;
          }
        }
    </style>
{% endblock %}

{% block content %}
{{ super() }}
<nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Currency</a>

    <span class="navbar-text float-right">
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">log out</a>
    </span>

</nav>
<br>
    <div id="register" class="mx-auto">
        <h2>Edit currency account</h2>
        <form action="{{ url_for('editCurrency', user_id=user_id) }}" method="POST">

            {{ displayField(form.bitcoin_id, 'bitcoin_id') }}
            {{ displayField(form.bitcoin_balance, 'bitcoin_balance') }}
            {{ displayField(form.ethereum_id, 'ethereum_id') }}
            {{ displayField(form.ethereum_balance, 'ethereum_balance') }}
            {{ displayField(form.max_amount, 'max_amount') }}

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-outline-success">
                <a class="btn btn-outline-danger" href="{{ url_for('mainPage', user_id=user_id) }}">Cancel</a>
            </div>

            {{ form.csrf_token }}
        </form>


    </div>

    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}
