<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Money Transfare</title>
        <meta name="viewport" content="width=device-width, inline-scale=1.0">
        <link  href="main.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body>
        <header class="fixed">
            <ul id="left_head">
                <li><a href="#"><h3>Money Transfare</h3></a></li>
            </ul>
            <nav>
                <ul>
                    <li><button type="button">Log In</button></li>
                </ul>
            </nav>
        </header>

    </body>
</html>
