{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block head %}
     {{ super() }}
    <style media="screen">
        ul {
            list-style-type:none;
            text-align: left;
            padding-inline-start: 0px
        }
        ul li {
            color: red;
        }
        #register{
            /* margin: auto; */
            width: 50%;
        }
        @media only screen and (max-width: 600px) {
          #register {
            width: 100%;
          }
        }
    </style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Currency</a>

    <span class="navbar-text float-right">
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">log out</a>
    </span>

</nav>

    <div id="register" class="mx-auto">
        <h2>Transfare Money</h2>
        <form action="{{ url_for('transaction', user_id=user_id) }}" method="POST">

            {{ displayField(form.currency_amount, 'currency_amount') }}
            {{ displayField(form.currency_Type, 'currency_Type') }}
            {{ displayField(form.target_user, 'target_user') }}

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success">
                <a class="btn btn-outline-danger" href="{{ url_for('mainPage') }}">Cancel</a>
            </div>


            {{ form.csrf_token }}

        </form>


    </div>

    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}
