{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block head %}
     {{ super() }}
    <style media="screen">
        ul {
            list-style-type:none;
            text-align: left;
            padding-inline-start: 0px
        }
        ul li {
            color: red;
        }
        #log{
            /* margin: auto; */
            width: 50%;
        }

        table {
              width:100%;
              overflow-x: auto;
            }
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
              text-align: left;
            }
            table#t01 tr:nth-child(even) {
              background-color: #eee;
            }
            table#t01 tr:nth-child(odd) {
             background-color: #fff;
            }
            table#t01 th {
              background-color: black;
              color: white;
            }
        @media only screen and (max-width: 600px) {
          #log {
            width: 100%;
          }
        }
    </style>
{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Currency</a>

    <span class="navbar-text float-right">
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">log out</a>
    </span>

</nav>

<div id="log" class="mx-auto">
    <h1>Currency page</h1>

    <table id="t01">
      <tr>
        <th>Target ID</th>
        <th>Transfared Money</th>
        <th>Bitcoin balance</th>
        <th>Ethereum balance</th>
        <th>State</th>
      </tr>
      {% for tran in transactions %}
          <tr>
            <td>{{ tran.target_user }}</td>
            <td>{{ tran.currency_amount }}</td>
            <td>{{ currency.bitcoin_balance }}</td>
            <td>{{ currency.bitcoin_balance }}</td>
            <td>{{ tran.state }}</td>
          </tr>
      {% endfor %}
    </table>
</div>


{% block script %}
    {{ super() }}
{% endblock %}
{% endblock %}
