{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block head %}
     {{ super() }}
    <style media="screen">
        ul {
            list-style-type:none;
            text-align: left;
            padding-inline-start: 0px
        }
        ul li {
            color: red;
        }
        #log{
            /* margin: auto; */
            width: 90%;
        }
        @media only screen and (max-width: 600px) {
          #log {
            width: 100%;
          }
          #action{
              display: block;
              margin-bottom: 2px;
          }
        }
    </style>
{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Currency</a>

    <span class="navbar-text float-right">
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">log out</a>
    </span>

</nav>

<div id="log" class="mx-auto">
    <h1>Currency page</h1>
    <div class="table-responsive-sm">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Bitcoin ID</th>
              <th scope="col">Bitcoin Balance</th>
              <th scope="col">Ethereum ID</th>
              <th scope="col">Ethereum Balance</th>
              <th scope="col">Max Amount Transfare</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ currency.bitcoin_id }}</th>
              <td>{{ currency.bitcoin_balance }}</td>
              <td>{{ currency.ethereum_id }}</td>
              <td>{{ currency.ethereum_balance }}</td>
              <td>{{ currency.max_amount }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <br>
    <a id="action" href="{{ url_for('currencyAccount', user_id=user_id)}}" class="btn btn-outline-success">Create currency account</a>
    <a id="action" href="{{ url_for('transaction', user_id=user_id)}}" class="btn btn-outline-success">Transfare Money</a>
    <a id="action" href="{{ url_for('transaction_history', user_id=user_id)}}" class="btn btn-outline-success">View Transaction History</a>
</div>


{% block script %}
    {{ super() }}
{% endblock %}
{% endblock %}
