{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}
{% block title %}main page{% endblock %}

{% block head %}
     {{ super() }}
    <style media="screen">
        ul {
            list-style-type:none;
            text-align: left;
            padding-inline-start: 0px
        }
        ul li {
            color: red;
        }
        #log{
            /* margin: auto; */
            width: 100%;
        }

        .error {
          background-color: red;
          color: black
        }
        .success {
          background-color: green;
          color: black
        }

        #action{
            margin-bottom: 8px;
        }
        @media only screen and (max-width: 600px) {
          #action{
              display: block;
              margin-bottom: 10px;
          }
        }
    </style>
{% endblock %}

{% block content %}

{{ super() }}
<nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Currency Account Information</a>

    <span class="navbar-text float-right">
        {% if currency%}
            <a class="btn btn-outline-warning" href="{{ url_for('editCurrency', user_id=user_id)}}">Edit</a>
        {% endif %}
        <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">log out</a>
    </span>

</nav>
<br><br>
<div id="log" class="mx-auto">

    <div class="table-responsive-sm">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Bitcoin ID</th>
              <th scope="col">Bitcoin Balance</th>
              <th scope="col">Ethereum ID</th>
              <th scope="col">Ethereum Balance</th>
              <th scope="col">Max Amount Transfare</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ currency.bitcoin_id }}</th>
              <td>{{ currency.bitcoin_balance }}</td>
              <td>{{ currency.ethereum_id }}</td>
              <td>{{ currency.ethereum_balance }}</td>
              <td>{{ currency.max_amount }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <br>
    {% if not currency %}
        <a id="action" href="{{ url_for('currencyAccount', user_id=user_id)}}" class="btn btn-outline-success">Create currency account</a>
    {% endif %}
    {% if currency %}
        <a id="action" href="{{ url_for('transaction', user_id=user_id)}}" class="btn btn-outline-success">Transfare Money</a>
        <a id="action" href="{{ url_for('transaction_history', user_id=user_id)}}" class="btn btn-outline-success">View Transaction History</a>
    {% endif %}
</div>


{% block script %}
    {{ super() }}
{% endblock %}
{% endblock %}
